body{ 
    background-color:#E8E8E8;
	background-image: url("images.jpg");
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:500px 250px;
}

p{ font-family:;
} 

h1{ font-family: arial;
    
}

h2{ font-family: arial;
} 
